<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<package name="com.lcvc.ebuy_maven_ssm.model"/>
		<!--<typeAlias alias="Admin" type="com.lcvc.ebuy_maven_ssm.model.Admin" />-->
		<!--
      通过package, 可以直接指定package的名字， mybatis会自动扫描你指定包下面的javabean,
      并且默认设置一个别名，默认的名字为： javabean 的首字母小写的非限定类名来作为它的别名。
      也可在javabean 加上注解@Alias 来自定义别名， 例如： @Alias("Admin")
      <package name="com.lcvc.ebuy_maven_ssm.model"/>
       -->
	</typeAliases>
    

      <!-- 注意：此种方法要求mapper接口名称和mapper映射文件名称相同，且放在同一个目录中。 -->
    <!-- <package name="com.baoyuan.mapper.dao"/> -->
    
</configuration>